{{> header}}
{{> loader}}
<main>
  <section class="pageBanner">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>
    <div class="container">
      <div class="titleWrap">
        <h1>
          <span>حول</span>
        </h1>
      </div>

      <div class="bottomBox">
        <div class="breadcrumb_wrap">
          <ul>
            <li>
              <a href="{{ menuLink 'index'}}"><span>مسكن</span></a>
            </li>
            <li class="current"><span>حول</span>
            </li>
          </ul>
        </div>
        <div class="backBox">
          <a href="{{ menuLink 'index'}}" class="link_">
            <span>خلف</span>
            <div class="icon">
              <img src="{{assets}}/images/backBtn.svg" loading="lazy" alt="" width="20" height="20" />
            </div>
          </a>
        </div>
      </div>



    </div>
  </section>
  <section class="pageSection  borderBottom">
    <div class="container ">

      <div class="grid3Box">
        <div class="aboutPlayBox">
          <a href="#" class="link_">
            <div class="imageBox abs">
              <picture>
                <source srcset="{{assets}}/images/aboutPlay.webp" type="image/webp">
                <source srcset="{{assets}}/images/aboutPlay.jpg" type="image/jpeg">
                <img src="{{assets}}/images/aboutPlay.jpg" loading="lazy" alt="" width="500" height="500">
              </picture>

            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff" />
              </svg>
            </div>
          </a>
        </div>


        <div class="textBox bold_">
          <p>في إطار إستراتيجية إدارة البرامج الثقافية والتراثية وإدارة المهرجانات
            اللجنة في أبوظبي ، وحرصها المستمر على التعريف بالفولكلور وتعزيز دوره فيه
            بناء الهوية الوطنية ، أهمية إقامة برنامج خليجي تنافسي للفنان
            يأتي المنكوس.</p>
        </div>
        <div class="textBox ">
          <p>في إمارة أبوظبي ، يستضيف البرنامج مشاركين من جميع دول مجلس التعاون الخليجي
            مجلس التنافس على أداء برج المنكوس أحد فنون التراث الإماراتي والخليجي
            غناء الشعر النبطي. يدخل المشاركون هذه المسابقة عبر عدة مراحل تبدأ من المرحلة
            من الاختبارات على الحلقات الحية ، واختتامها بفوز مشارك واحد ليكون بطل
            الموسم في أداء تاريخ المنكوس.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  no_padd_bottom">
    <div class="container ">
      <div class="sectionTitle  ">
        <h2 data-text-sp>
          أهداف البرنامج
        </h2>
      </div>

      <div class="programGoalWrap m_top_5">
        <div class="peItem">
          <div class="inner_">
            <div class="number_">01</div>
            <div class="textBox">
              <p>
                إحياء أصل مانكوس تارج وبناء جسور التواصل بين الكبار والصغار
                توليد
              </p>
            </div>
          </div>
        </div>
        <div class="peItem">
          <div class="inner_">
            <div class="number_">02</div>
            <div class="textBox">
              <p>
                الحفاظ على التراث الإماراتي وتسجيله كمنصة ثقافية مستقرة للانتقال منها
                نحو العولمة
              </p>
            </div>
          </div>
        </div>
        <div class="peItem">
          <div class="inner_">
            <div class="number_">03</div>
            <div class="textBox">
              <p>
                تحقيق أكبر قدر ممكن من التواصل مع الجماهير الخليجية والعربية
              </p>
            </div>
          </div>
        </div>
        <div class="peItem">
          <div class="inner_">
            <div class="number_">04</div>
            <div class="textBox">
              <p>
                إنتاج برنامج يحظى بجماهير عالية في جميع مواسمه
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">
      <div class="sectionTitle  ">
        <h2 data-text-sp>
          حلقات البرنامج
        </h2>
      </div>

      <div class="episodesWrap m_top_5">
        <div class="epItem">
          <div class="inner_">
            <div class="icon_">
              <img src="{{assets}}/images/episodeIcon_1.svg" loading="lazy" alt="" width="60" height="60" />
            </div>
            <div class="title_">اختبارات الأداء</div>
            <div class="textBox">
              <p>
                يقوم المشاركون بإجراء الاختبارات أمام لجنة التحكيم ليتم تقييمها وتحديد الأكثر تأهيلاً
                ومؤهلين للوصول إلى الحلقات الحية ، حيث سيتم بث الاختبارات خلال تسجيلين
                الحلقات.
              </p>
            </div>
          </div>
        </div>
        <div class="epItem">
          <div class="inner_">
            <div class="icon_">
              <img src="{{assets}}/images/episodeIcon_2.svg" loading="lazy" alt="" width="60" height="60" />
            </div>
            <div class="title_">حلقات حية</div>
            <div class="textBox">
              <p>
                8 حلقات معروضة على الجمهور وتذاع على الهواء مباشرة وتشمل مسابقات
                المشاركون الذين تأهلوا من الحلقات الوثائقية ، ويستمر مسار كل حلقة
                وفق آلية محددة حتى حامل اللقب في الحلقة الأخيرة.
              </p>
            </div>
          </div>
        </div>
        <div class="epItem">
          <div class="inner_">
            <div class="icon_">
              <img src="{{assets}}/images/episodeIcon_3.svg" loading="lazy" alt="" width="60" height="60" />
            </div>
            <div class="title_">خلف الكواليس</div>
            <div class="textBox">
              <p>
                8 حلقات تسجيل فيها الأنشطة الأسبوعية والزيارات والفعاليات للمشاركين
                تمت مراجعته ، بعيدًا عن أجواء المنافسة. يتم عرض هذه الحلقات خلال أسابيع البث المباشر
                الحلقات.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="pageSection borderBottom borderTop ">
    <div class="container ">
      <div class="vissionAndMission">
        <div class="box">
          <div class="title_">
            <span>بعثة</span>
          </div>
          <div class="textBox lg_">
            <p> تفعيل الأنشطة والممارسات التراثية والثقافية المتعلقة بالعادات والتقاليد من أجل
              الحفاظ على الهوية وتقوية الروابط الإنسانية والمجتمعية. </p>
          </div>
        </div>
        <div class="box">
          <div class="title_">
            <span>الرؤية</span>
          </div>
          <div class="textBox lg_">
            <p> الحفاظ على الهوية الوطنية والتراث الإماراتي من خلال الحفاظ على التراث الشعبي وتشجيع المحلي
              المجتمع لممارستها بأشكالها المختلفة. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  no_padd_bottom">
    <div class="container ">
      <div class="sectionTitle  ">
        <h2 data-text-sp>
          عن المضيف
        </h2>
      </div>
      <div class="aboutHostWrap">
        <div class="logoBox">
          <div class="bgShape">
            <svg viewBox="0 0 483.141 426.047">
              <defs>
                <clipPath id="a1">
                  <rect width="483.141" height="426.047" fill="#af302b" />
                </clipPath>
              </defs>
              <g opacity="0.058">
                <g clip-path="url(#a1)">
                  <g clip-path="url(#a1)">
                    <g style="mix-blend-mode:multiply;isolation:isolate">
                      <g clip-path="url(#a1)">
                        <path
                          d="M27.419,206.827c-98.008,150.131,89.239,219.219,207.662,219.219,116.453,0,248.059-43.929,248.059-178.933,0-347.535-287.5-297.967-455.722-40.286"
                          transform="translate(-0.001 0.001)" fill="#af302b" />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>

          <div class="icon">
            <img src="{{assets}}/images/aboutIcon.svg" loading="lazy" alt="" width="60" height="60" />
          </div>
        </div>
        <div class="textBox">
          <p>لوريم إيبسوم هو ببساطة نص شكلي يستخدم في صناعة الطباعة والتنضيد. لقد كان Lorem Ipsum هو
            النص الوهمي القياسي في الصناعة منذ القرن الخامس عشر الميلادي ، عندما اتخذت طابعة غير معروفة لوحًا من النوع و
            تدافعت لجعل كتاب عينة نوع. لقد نجت ليس فقط خمسة قرون ، ولكن أيضًا القفزة
            التنضيد الإلكتروني ، يبقى بشكل أساسي دون تغيير. تم نشره في الستينيات بإصدار
            تحتوي أوراق Letraset التي تحتوي على ممرات Lorem Ipsum ، ومؤخراً باستخدام برامج النشر المكتبي مثل
            Aldus PageMaker بما في ذلك إصدارات لوريم إيبسوم.
          </p>
          <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على ذلك
            بالنظر إلى تخطيطه. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- لـ
            بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ، مما يجعلها تبدو وكأنها إنجليزية قابلة للقراءة. عديدة
            تستخدم حزم النشر المكتبي ومحرري صفحات الويب الآن لوريم إيبسوم كنص نموذج افتراضي ، وملف
            سيؤدي البحث عن "lorem ipsum" إلى اكتشاف العديد من مواقع الويب التي لا تزال في مهدها. تطورت إصدارات مختلفة
            على مر السنين ، أحيانًا عن طريق الصدفة ، وأحيانًا عن قصد (الدعابة المحقونة وما شابه ذلك).
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  no_padd_bottom">
    <div class="container ">
      <div class="sectionTitle  ">
        <h2 data-text-sp>
          تعرف على هيئة المحلفين
        </h2>
      </div>

      <div class="juryWrap m_top_5">
        <div class="juItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/juryImg1.webp" type="image/webp">
                <source srcset="{{assets}}/images/juryImg1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/juryImg1.jpg" loading="lazy" alt="" width="400" height="400">
              </picture>
            </div>
            <div class="content">
              <div class="name_">
                محمد بين مشيط المري
              </div>
              <div class="dec">الشاعر والمغني</div>
              <div class="textBox">
                <p>الشاعر محمد بن مشيد المري من دولة الإمارات العربية المتحدة لديه خبرة واسعة في
                  مجال الشعر. يعتبر من شعراء النظم والحوار ، مطرب متخصص في
                  ألحان شعر البطي ، وناقدة في مجال الشعر النبطي.</p>
              </div>

              <div class="moreWrap">
                <a href="#juryBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="juItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/juryImg2.webp" type="image/webp">
                <source srcset="{{assets}}/images/juryImg2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/juryImg2.jpg" loading="lazy" alt="" width="400" height="400">
              </picture>
            </div>

            <div class="content">
              <div class="name_">
                شي فارس ألياف
              </div>
              <div class="dec">شاعر النظم والحوار</div>
              <div class="textBox">
                <p>الشاعر شايع فارس العيافي من المملكة العربية السعودية لديه خبرة واسعة في مجال
                  النقد الشعري. إنه ملحن ومحاور ومطرب. تم اختياره كعضو في لجنة التحكيم
                  لجان في العديد من المسابقات المتخصصة في مجال الشعر ، ولها إسهامات عديدة في
                  المناسبات الرسمية المتعلقة بالشعر والترانيم ...
                </p>
              </div>
              <div class="moreWrap">
                <a href="#juryBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="juItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/juryImg3.webp" type="image/webp">
                <source srcset="{{assets}}/images/juryImg3.jpg" type="image/jpeg">
                <img src="{{assets}}/images/juryImg3.jpg" loading="lazy" alt="" width="400" height="400">
              </picture>
            </div>
            <div class="content">
              <div class="name_">
                در. حمود جلوي العنزي
              </div>
              <div class="dec">ناقد وأكاديمي</div>
              <div class="textBox">
                <p>الدكتور حمود الجلوي العنزي من دولة الكويت لديه خبرة كبيرة في المجال الشعري
                  والمواضيع الغنائية. ويعتبر من منتقدي الشعر العربي خاصة الشعبي و
                  الشعر النبطي. عام 2 0 1 1 ...
                </p>
              </div>

              <div class="moreWrap">
                <a href="#juryBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">
      <div class="sectionTitle  ">
        <h2 data-text-sp>
          المنظمون
        </h2>
      </div>

      <div class="organizerWrap">
        <div class="logoBox">
          <img src="{{assets}}/images/organizedLogo.svg" loading="lazy" alt="" width="200" height="75">
        </div>

        <div class="textBox">
          <p> تم تشكيل لجنة إدارة المهرجانات والبرامج الثقافية والتراثية بقرار صادر
            من قبل الأمانة العامة للمجلس التنفيذي لإمارة أبوظبي في 3 فبراير 2013. </p>
          <p> تهدف رؤية واستراتيجية اللجنة إلى تعزيز قيم الولاء والانتماء من خلال
            ممارسة التراث الإماراتي الأصيل. كما تعمل على ترسيخ القيم الإماراتية
            التراث في الولاء والولاء للقيادة والوطن كنموذج أصيل يحتذى به ويضمن
            استدامتها.
          </p>
          <p> تخدم جميع أنشطة اللجنة الاستراتيجية الثقافية إمارة أبوظبي ودولة الإمارات العربية المتحدة
            تساهم الإمارات في الحفاظ على التراث الثقافي ، وتعمل على إيصال الحضاري و
            رسالة إنسانية من الإمارات إلى مختلف ثقافات وشعوب العالم ، وكذلك الترويج لأبو
            أبوظبي والمؤتمرات والأنشطة والفعاليات التي تنظمها وتستضيفها.
          </p>
          <p> تدير اللجنة العديد من المهرجانات والبرامج التراثية والثقافية التي تلعب دورًا بارزًا فيها
            الحفاظ على التراث وتعزيز ممارسته ، خاصة بين الأجيال الشابة مما يساهم في
            الحفاظ على هذا التراث ، وإبراز قيم الوطنية والولاء للقيادة ، بما في ذلك
            برنامج "المليون شاعر" برنامج "أمير الشعراء". برنامج التراث الثقافي "الشارة" ليوا
            مهرجان التمور ، مهرجان الظفرة ، المعرض الدولي للصيد والفروسية ، بنزرة الدولية
            مهرجان الصداقة ، مهرجان الظفرة المائي ، فعاليات اليوم الوطني ، أكاديمية الشعر ، قناة بينونة الفضائية ،
            فرقة أبوظبي للفنون الشعبية ، وشاعر مجلة المليون ، ومجلة الشاطئ The New York Film Academy ، وكذلك
            كأي برنامج أو مهرجان أو حدث ثقافي أو تراثي بتكليف من اللجنة.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="popupBox md_box juryPop" id="juryBox" style="display: none;">
  <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg
      xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
      <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
    </svg></button>
  <div class="inner_">
    <div class="topBox">
      <div class="imgBox abs">
        <picture>
          <source srcset="{{assets}}/images/testp.webp" type="image/webp">
          <source srcset="{{assets}}/images/testp.jpg" type="image/jpeg">
          <img src="{{assets}}/images/testp.jpg" loading="lazy" alt="" width="400" height="400">
        </picture>
      </div>
      <div class="infoBox">
        <div class="name_">اسم المشارك واحد هنا</div>
        <div class="dec_">الشاعر والمغني</div>
      </div>
    </div>
    <div class="textBox ">
      <p>الشاعر محمد بن مشيد المري من الإمارات العربية المتحدة لديه خبرة واسعة في مجال
        الشعر. يعتبر من شعراء النظم والحوار ، مطرب متخصص في ألحان
        شعر البطي وناقد في مجال الشعر النبطي.

      </p>
      <p> غنا له العديد من القصائد بأصوات عدد من الفنانين المتميزين منهم: الفنان ميحد
        حمد والفنانة عايدة المنهالي والفنان حسين الجسمي والفنان راشد الماجد. </p>
      <p> الشاعر محمد بن مشيد المري غنى كثيرا في الوطن ، وعندما تحضرون المناسبات الوطنية لكم
        يحضر قصائده ، ويكتب عن كل مقاصد الشعر. </p>
      <p> شارك في العديد من الأمسيات الشعرية داخل وخارج الدولة ، أبرزها شعر دبي السابع
        ملتقى ليالي ابها في السعودية. كما شارك في مهرجان المغترى بالإضافة إلى مهرجان المغترى
        المشاركة في العديد من المهرجانات الشعرية الخليجية والعربية.
      </p>
    </div>


  </div>
</div>
{{> script-page}}
{{> footer}}