{{> header}}
{{> loader}}
<main>
  <section class="pageBanner">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>
    <div class="container">
      <div class="titleWrap">
        <h1>
          <span>الدفع</span>
        </h1>
      </div>
      <div class="bottomBox">
        <div class="breadcrumb_wrap">
          {{!-- <ul>
            <li>
              <a href="{{ menuLink 'index'}}"><span>Home</span></a>
            </li>

            <li class="current"><span>Contact Us</span>
            </li>
          </ul> --}}
        </div>
        <div class="backBox">
          <a href="{{ menuLink 'index'}}" class="link_">
            <span>خلف</span>
            <div class="icon">
              <img src="{{assets}}/images/backBtn.svg" loading="lazy" alt="" width="20" height="20" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">

      <div class="checkOutWrap">

        <div class="lBox">
          <div class="maint_">املأ التفاصيل</div>

          <form class="form-v3" action="{{ menuLink 'thankYou'}}">
            <div class="input_box">
              <div class="input-field ">
                <input id="last_name" type="text" class="">
                <label for="last_name"> اسم</label>
              </div>

              <div class="input-field ">
                <input id="emailid" type="email" class="">
                <label for="emailid"> البريد الإلكتروني</label>
              </div>
              <div class="input-field ">
                <label for="phone" class="normal_ "> جنسية</label>
                <select data-select>
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                </select>
              </div>
              <div class="input-field ">
                <input id="phone" type="text" class="">
                <label for="phone"> رقم الهاتف</label>
              </div>
              <div class="input-field full_">

                <div class="radioWrap">
                  <label>جنس</label>
                  <div class="radioGrp">
                    <label>
                      <input name="group1" type="radio" />
                      <span>ذكر</span>
                    </label> <label>
                      <input name="group1" type="radio" />
                      <span>أنثى</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="input-field full_">

                <div class="termsCheckWrap">
                  <label>
                    <input type="checkbox" />
                    <span></span>
                  </label>
                  <p>أنا أوافق على <a href="#">الأحكام والشروط</a></p>
                </div>

              </div>
              <div class="input-field full_">
                <button type="submit" class="more color lg_">
                  <span>المضي قدما في الدفع</span>
                </button>
              </div>
            </div>
          </form>


        </div>
        <div class="rBox">
          <div class="checkOutInfo">
            <div class="topBox">
              <div class="imgBox abs">
                <picture>
                  <source srcset="{{assets}}/images/participantImg_1.webp" type="image/webp">
                  <source srcset="{{assets}}/images/participantImg_1.jpg" type="image/jpeg">
                  <img src="{{assets}}/images/participantImg_1.jpg" loading="lazy" alt="" width="350" height="413">
                </picture>
              </div>
              <div class="contentBox">
                <div class="name_">{{langName 'اسم المشارك واحد هنا' 'Participant name one here'}}</div>

                <div class="metaBox">
                  <div class="meta_">
                    <div class="t_">{{langName 'رقم المشترك:' 'Participant number :'}}</div>
                    <div class="v_">007</div>
                  </div>
                  <div class="meta_">
                    <div class="t_">{{langName 'دولة :' 'Country :'}}</div>
                    <div class="v_">{{langName 'الإمارات العربية المتحدة' 'United Arab Emirates'}}</div>
                  </div>
                </div>
              </div>
              <a href="#voteBox" data-fancybox-modal class="btnBox">
                <svg viewBox="0 0 23.179 25.138">
                  <g transform="translate(544.297 -77.75)">
                    <path
                      d="M-496.3,78a2.32,2.32,0,0,0,.172.218q2.952,2.955,5.907,5.907c.067.067.15.118.306.238a1.81,1.81,0,0,0-.287.18q-6.735,6.73-13.464,13.465a.509.509,0,0,1-.4.168c-1.95-.006-3.9,0-5.85,0h-.261v-.281c0-1.942,0-3.884,0-5.826a.536.536,0,0,1,.177-.418q6.72-6.711,13.432-13.429a2.266,2.266,0,0,0,.172-.218Zm-.06,3.191c-.035.032-.066.058-.094.086q-5.675,5.675-11.345,11.354a.524.524,0,0,0-.133.333c-.011.906-.006,1.813-.005,2.719,0,.076.009.152.015.243h.266c.89,0,1.781,0,2.671,0a.508.508,0,0,0,.4-.171q5.611-5.619,11.228-11.232c.06-.06.115-.123.159-.17Z"
                      transform="translate(-31.644)" stroke="#fff" stroke-width="0.5" />
                    <path d="M-521.655,419.031v2.2h-22.392v-2.2Z" transform="translate(0 -318.598)" stroke="#fff"
                      stroke-width="0.5" />
                  </g>
                </svg>
              </a>
            </div>

            <div class="bottomBox">
              <ul>
                <li>
                  <div class="m_">مجموع الأصوات</div>
                  <div class="mv_">10 <small>الأصوات</small></div>
                </li>
                <li>
                  <div class="m_">إجمالي مبلغ التصويت</div>
                  <div class="mv_"><small>10x500 = </small>5000 AED</div>
                </li>
                <li class="total_">
                  <div class="totalLabel">المجموع</div>
                  <div class="amount">5000 AED</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>



</main>
{{> script-page}}
{{> footer}}