{{> header}}
{{> loader}}
<main>
  <section class="pageBanner">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>
    <div class="container">
      <div class="titleWrap">
        <h1>
          <span>المركز الاعلامي</span>
        </h1>
      </div>

      <div class="bottomBox">
        <div class="breadcrumb_wrap">
          <ul>
            <li>
              <a href="{{ menuLink 'index'}}"><span>مسكن</span></a>
            </li>
            <li class="current"><span>المركز الاعلامي</span>
            </li>
          </ul>
        </div>
        <div class="backBox">
          <a href="{{ menuLink 'index'}}" class="link_">
            <span>خلف</span>
            <div class="icon">
              <img src="{{assets}}/images/backBtn.svg" loading="lazy" alt="" width="20" height="20" />
            </div>
          </a>
        </div>
      </div>



    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">
      <div class="titleWrap">
        <div class="tabWrap">
          <div class="tItem">
            <a href="#" data-target="newsList" class="link_ active">
              <span>أخبار</span>
            </a>
          </div>
          <div class="tItem">
            <a href="#" data-target="imageList" class="link_">
              <span>الصور</span>
            </a>
          </div>
          <div class="tItem">
            <a href="#" data-target="videoList" class="link_">
              <span>أشرطة فيديو</span>
            </a>
          </div>
        </div>

        <div class="toolWrap">
          <div class="tItem">
            <select data-select>
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
            </select>
          </div>

        </div>
      </div>

      <div class="mediaWrap" data-tabcontent id="newsList">
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي</span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي
                </span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي</span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي
                </span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي</span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي
                </span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي</span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="{{ menuLink 'newsDetails'}}" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="contentBox">
              <div class="date_">
                29 يونيو 2022
              </div>
              <div class="name_">
                <span>تصفيات لقب المنكوس ... تنطلق غدا على مسرح شاطئ الراحة بأبو
                  أبو ظبي
                </span>
              </div>
              <div class="moreWrap">
                <div class="more white">
                  <span>صوت الان</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mediaWrap col3" data-tabcontent id="imageList">
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg x="0" y="0" viewBox="0 0 480 480">
                <path
                  d="M440,72H40c-22.08,0.026-39.974,17.92-40,40v256c0.026,22.08,17.92,39.974,40,40h400 c2.245,0.009,4.486-0.187,6.696-0.584C465.945,404.194,480.037,387.517,480,368V112C479.974,89.919,462.08,72.026,440,72z M40,392c-12.435-0.002-22.81-9.501-23.904-21.888L175.6,265.824L337.808,392H40z M464,368 c0.013,11.742-8.492,21.761-20.08,23.656c-1.294,0.233-2.606,0.348-3.92,0.344h-76.136l-105.992-82.488l94.784-75.792     L464,300.528V368z M464,281.872l-107.88-64.728c-2.868-1.725-6.506-1.482-9.12,0.608l-102.136,81.68l-63.96-49.744     c-2.695-2.094-6.421-2.249-9.28-0.384L16,351.056V112c0-13.255,10.745-24,24-24h400c13.255,0,24,10.745,24,24V281.872z"
                  fill="#FFF"></path>
                <path
                  d="M240,120c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48 C288,141.49,266.51,120,240,120z M240,200c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32 S257.673,200,240,200z"
                  fill="#FFF"></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="mediaWrap col3" data-tabcontent id="videoList">
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_2.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="newItem">
          <a href="#" class="inner">
            <div class="imgBox">
              <picture>
                <source srcset="{{assets}}/images/newsImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/newsImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/newsImg_1.jpg" loading="lazy" alt="" width="900" height="640">
              </picture>
            </div>
            <div class="playIcon">
              <svg viewBox="0 0 81 94">
                <path
                  d="M40.08,11.925a8,8,0,0,1,13.839,0l33.109,57.06A8,8,0,0,1,80.109,81H13.891a8,8,0,0,1-6.92-12.015Z"
                  transform="translate(81) rotate(90)" fill="#fff"></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

</main>
{{> script-page}}
{{> footer}}
<script>
  $(function () {
    $('[data-tabcontent]').hide();

    $('[data-target]').on('click', function (e) {
      e.preventDefault();
      var this_ = $(this),
        target_ = this_.data('target');

      if ($('#' + target_).length) {
        $('[data-tabcontent]').hide();
        $('#' + target_).show();

        $('[data-target]').removeClass('active')
        this_.addClass('active')
      }
    })

    $('[data-target].active').trigger('click')
  })
</script>