{{> header}}
{{> loader}}
<main>
  <section class="pageBanner">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>
    <div class="container">
      <div class="titleWrap">
        <h1>
          <span>مشاركون</span>
        </h1>
      </div>

      <div class="bottomBox">
        <div class="breadcrumb_wrap">
          <ul>
            <li>
              <a href="{{ menuLink 'index'}}"><span>مسكن</span></a>
            </li>
            <li class="current"><span>مشاركون</span>
            </li>
          </ul>
        </div>
        <div class="backBox">
          <a href="{{ menuLink 'index'}}" class="link_">
            <span>خلف</span>
            <div class="icon">
              <img src="{{assets}}/images/backBtn.svg" loading="lazy" alt="" width="20" height="20" />
            </div>
          </a>
        </div>
      </div>



    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">
      <div class="titleWrap">
        <div class="sectionTitleSmall  ">
          {{!-- <h2 data-text-sp>
            "18" مشارك
          </h2> --}}
        </div>

        <div class="toolWrap">
          <div class="tItem">
            <select data-select>
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
            </select>
          </div>
          <div class="tItem">
            <select data-select>
              <option selected disabled>الموسم الحالي</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
            </select>
          </div>
        </div>
      </div>

      <div class="participantWrap ">
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_1.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_1.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_1.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_1.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
              <div class="hoverText">
                <span>مؤهل للتصويت</span>
              </div>
            </div>
            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>

            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_2.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_2.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_2.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_1.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_3.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_3.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_3.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_1.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_4.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_4.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_4.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_1.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_5.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_5.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_5.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_1.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_6.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_6.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_6.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_2.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_7.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_7.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_7.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_1.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pItem">
          <div class="inner">
            <div class="imgBox abs">
              <picture>
                <source srcset="{{assets}}/images/participantImg_8.webp" type="image/webp">
                <source srcset="{{assets}}/images/participantImg_8.jpg" type="image/jpeg">
                <img src="{{assets}}/images/participantImg_8.jpg" loading="lazy" alt="" width="350" height="413">
              </picture>

              <div class="bBox">
                <div class="flag_">
                  <img src="{{assets}}/images/flag_2.jpg" loading="lazy" alt="" width="100" height="100">
                </div>

                <div class="count_">
                  <span>001</span>
                </div>
              </div>
            </div>

            <div class="contentBox">
              <div class="name_">
                <span>اسم المشارك واحد هنا</span>
              </div>
              <div class="moreWrap">
                <a href="#participantBox" data-fancybox-modal class="more">
                  <span>اقرأ أكثر</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <div class="popupBox md_box memberPop" id="participantBox" style="display: none;">
    <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg
        xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
        <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
      </svg></button>
    <div class="inner_">
      <div class="imgBox abs">
        <picture>
          <source srcset="{{assets}}/images/participantImg_1.webp" type="image/webp">
          <source srcset="{{assets}}/images/participantImg_1.jpg" type="image/jpeg">
          <img src="{{assets}}/images/participantImg_1.jpg" loading="lazy" alt="" width="350" height="413">
        </picture>
      </div>

      <div class="contentBox">
        <div class="name_">اسم المشارك واحد هنا</div>

        <div class="metaBox">
          <div class="meta_">
            <div class="t_">رقم المشترك :</div>
            <div class="v_">007</div>
          </div>
          <div class="meta_">
            <div class="t_">دولة :</div>
            <div class="v_">الإمارات العربية المتحدة</div>
          </div>
        </div>

        <div class="textBox m_top_1">
          <p>لوريم إيبسوم هو ببساطة نص شكلي يستخدم في صناعة الطباعة والتنضيد. لقد كان Lorem Ipsum هو
            النص الوهمي القياسي في الصناعة منذ القرن الخامس عشر الميلادي ، عندما اتخذت طابعة غير معروفة لوحًا من النوع و
            تدافعت لجعل كتاب عينة نوع. لقد نجت ليس فقط خمسة قرون ، ولكن أيضًا القفزة
            التنضيد الإلكتروني ، يبقى بشكل أساسي دون تغيير. تم نشره في الستينيات بإصدار
            تحتوي أوراق Letraset التي تحتوي على ممرات Lorem Ipsum ، ومؤخراً باستخدام برامج النشر المكتبي مثل
            Aldus PageMaker بما في ذلك إصدارات لوريم إيبسوم.
          </p>
        </div>
      </div>
    </div>
  </div>

</main>
{{> script-page}}
{{> footer}}