{{> header}}
{{> loader}}
<main>
  <section class="pageBanner">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>
    <div class="container">
      <div class="titleWrap">
        <h1>
          <span>سياسة الخصوصية</span>
        </h1>
      </div>
      <div class="bottomBox">
        <div class="breadcrumb_wrap">
          <ul>
            <li>
              <a href="{{ menuLink 'index'}}"><span>مسكن</span></a>
            </li>

            <li class="current"><span>سياسة الخصوصية</span>
            </li>
          </ul>
        </div>
        <div class="backBox">
          <a href="{{ menuLink 'index'}}" class="link_">
            <span>خلف</span>
            <div class="icon">
              <img src="{{assets}}/images/backBtn.svg" loading="lazy" alt="" width="20" height="20" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">

      <div class="textBox big_lineHeight">
        <h3>سياسة الخصوصية / برنامج المنكوس</h3>
        <p> مساء غد الأحد 21 مارس المرحلة الرابعة (نصف النهائي) من تصفيات اللقب ضد فارس
          المنكوس في برنامج "المنكوس" في موسمه الثاني إنتاج الثقافة والتراث
          تنطلق لجنة إدارة البرامج والمهرجانات في أبوظبي من مسرح شاطئ الراحة في أبوظبي
          ابوظبي الساعة العاشرة بتوقيت الامارات وعبر قناتي "بينونة" و "الامارات". </p>
        <p> خلال الحلقة ، سيتنافس 6 نجوم من الباقين على هذه المرحلة ، حيث سيقدمون
          روائعهم أمام أعضاء لجنة التحكيم ، وسيتم تقييم أدائهم من قبل
          لجنة من 30 درجة لهذه الحلقة ثم ينتقلون الى تصويت المشاهدين الذي يستمر
          حتى نهاية الحلقة الاخيرة ويتم تخصيص 40 درجة بينما سيكون اخر تقييم خلال
          الحلقة الاخيرة 30 درجة.
        </p>
        <p> شهدت الحلقة الاخيرة تأهل (عبدالله فهد الصخبرة من السعودية هادي بن
          رابعة من الكويت) وبقية المتسابقين هم (سعود بن جابر الجوزاء من السعودية ،
          سعود سالم الطنان من الكويت ، صالح حسين الهمامي من السعودية ، مسعود بن شافول
          السعودية ، ناصر هادي المنصوري من الإمارات ، نهايان مبارك المنصوري من الإمارات) هم
          بانتظار دعم وتصويت المشاهدين على مدار الأسبوع حتى يتأهل 4 منهم
          المحطة التالية من المسابقة بالتصويت عبر موقع برنامج المنكوس (www.almankous.ae)
          أو تطبيقه.
        </p>
        <h3> Lorem ipsum dolor sit amet ،
          consectetur adipiscing النخبة </h3>
        <p> يشار إلى أن آلية المنافسة في برنامج المنكوس تمر بخمس مراحل رئيسية ،
          حيث تشمل المرحلة الأولى 3 أمسيات يشارك فيها 18 متسابقًا ، ويتم تقسيم درجاتها
          إلى 50 درجة لهيئة التحكيم و 50 درجة للمشاهدين للتصويت من خلال موقع البرنامج (
          www.almankous.ae) أو تطبيقه ، يتنافس كل مساء 6 متسابقين ، اثنان منهم يتأهلان من قبل
          قرار هيئة المحلفين واثنين بالتصويت. </p>
        <p> سيكون إجمالي المتأهلين للمرحلة الثانية 12 متسابقًا يتنافسون بدورهم
          خلال أمسيتين ، تنقسم درجاتهما إلى 50 درجة لهيئة المحلفين و 50 درجة لهيئة المحلفين
          التصويت ، وتتأهل اثنتان في كل حلقة بقرار من لجنة التحكيم واثنتان بالتصويت. </p>
        <p> في المرحلة الثالثة (ربع النهائي) ، يشارك 8 متسابقين في إحدى الأمسيات ويتأهل 6 متسابقين.
          (2 بقرار من لجنة التحكيم و 4 بالتصويت) ، ويتم توزيع الدرجات على النحو التالي (50 لهيئة المحلفين
          و 50 لتصويت المشاهدين). </p>
        <p> في المرحلة الرابعة (نصف النهائي) ، يتنافس 6 متسابقين في المساء ، وتقوم لجنة التحكيم بتقييم
          أداء المتسابقين من خلال 60 درجة مقسمة إلى 30 درجة خلال الحلقة و 30 درجة
          درجات خلال الحلقة الأخيرة دون مغادرة أي متسابق ، ويصوت المشاهدون لمفضلهم
          ، وفي المرحلة الخامسة (النهائية) تنافس المتسابقون الستة ، وفي نهاية الحلقة ، لجنة التحكيم
          يتم جمع الدرجات من 60 درجة ، مع تصويت المشاهدين من 40 درجة ، وبناءً على المجموع ، فإن
          يتم ترتيب المتسابقين من السادس إلى الأول.
        </p>
        <p> يحصل الفائز بالمركز الأول على 500 ألف درهم ، والفائز بالمركز الثاني 300 ألف درهم
          الثالث 200 ألف درهم والرابع 150 ألف درهم والخامس 100 ألف درهم.
          والسادس 50 ألف درهم.
        </p>

      </div>

    </div>
  </section>



</main>
{{> script-page}}
{{> footer}}