{{> header}}
{{> loader}}
<main>
  <section class="pageBanner">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>
    <div class="container">
      <div class="titleWrap">
        <h1>
          <span>يسجل</span>
        </h1>
      </div>

      <div class="bottomBox">
        <div class="breadcrumb_wrap">
          <ul>
            <li>
              <a href="{{ menuLink 'index'}}"><span>مسكن</span></a>
            </li>
            <li class="current"><span>يسجل</span>
            </li>
          </ul>
        </div>
        <div class="backBox">
          <a href="{{ menuLink 'index'}}" class="link_">
            <span>خلف</span>
            <div class="icon">
              <img src="{{assets}}/images/backBtn.svg" loading="lazy" alt="" width="20" height="20" />
            </div>
          </a>
        </div>
      </div>



    </div>
  </section>
  <section class="pageSection  ">
    <div class="container ">


      <div class="registerWrap">

        <div class="box">
          <div class="textBox bold_">
            <p>
              برنامج خليجي تنافسي لفناني "المنكوس" ويستضيف البرنامج مشاركين من جميع دول الخليج
              دول مجلس التعاون تتنافس على عزف "المنكي" إحدى اللحن الإماراتي والخليجي
              فنون التراث لغناء الشعر النبطي.
            </p>
          </div>
          <div class="redInfo textBox">
            <p>سيغلق التسجيل في سبتمبر 2022</p>
          </div>
        </div>

        <div class="formBox">
          <form class="form-v3">
            <div class="input_box">
              <div class="input-field full_">
                <input id="last_name" type="text" class="">
                <label for="last_name"> اسم</label>
              </div>
              <div class="input-field full_">

                <div class="radioWrap">
                  <label>جنس</label>
                  <div class="radioGrp">
                    <label>
                      <input name="group1" type="radio" />
                      <span>ذكر</span>
                    </label> <label>
                      <input name="group1" type="radio" />
                      <span>أنثى</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="input-field full_">
                <input id="emailid" type="email" class="">
                <label for="emailid"> البريد الإلكتروني</label>
              </div>
              <div class="input-field full_">
                <input id="phone" type="text" class="">
                <label for="phone"> هاتف</label>
              </div>
              <div class="input-field full_ wIcon">
                <input id="dob" type="text" class="datepicker">
                <label for="dob"> تاريخ الولادة</label>
                <div class="iconBox">
                  <svg viewBox="0 0 19 20.5">
                    <g transform="translate(0.228 0.978)">
                      <rect width="19" height="19" transform="translate(-0.228 -0.228)" fill="#fcfcfc" opacity="0" />
                      <g transform="translate(0.939)">
                        <rect width="17" height="17" rx="2" transform="translate(-0.166 1.772)" fill="none"
                          stroke="#141414" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                        <line y2="4" transform="translate(11.834 -0.228)" fill="none" stroke="#141414"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                        <line y2="4" transform="translate(4.834 -0.228)" fill="none" stroke="#141414"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                        <line x2="17" transform="translate(-0.166 7.772)" fill="none" stroke="#141414"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="input-field full_">
                <label for="phone" class="normal_ "> دولة</label>
                <select data-select>
                  <option>اختيار 1</option>
                  <option>اختيار 2</option>
                  <option>اختيار 3</option>
                </select>
              </div>
              <div class="input-field full_">
                <input id="address" type="text" class="">
                <label for="address"> تبوك</label>
              </div>
              <div class="input-field input_parent  full_">
                <div class="input-row  att_row">
                  <input type="file" class="form-control uploader" data-type="s_copy" data-mimes="pdf,jpg,jpeg"
                    id="s_copy" name="s_copy[]" required="">
                  <div class="choose">
                    <div class="choose-btn"><small>تحميل فيديو الأداء</small></div>
                    <div class="nRow_">
                      <div class="choose-file uploadFileName"> </div>
                      <div class="uploadPercentage"></div>
                    </div>
                    <div class="icon_box"> <img src="{{assets}}/images/attach.svg">
                    </div>
                    <div class="uploadProgressWrapper">
                      <div class="uploadProgress"></div>
                    </div>
                  </div>
                  <span class="helper-text">
                    تحميل فيديو لا يزيد عن حقيقة تطهر اداء المنكوس
                  </span>
                </div>
              </div>

              <div class="input-field input_parent  full_">
                <div class="input-row  att_row">
                  <input type="file" class="form-control uploader" data-type="s_copy" data-mimes="pdf,jpg,jpeg"
                    id="s_copy" name="s_copy[]" required="">
                  <div class="choose">
                    <div class="choose-btn"><small>تحميل صورة جواز السفر</small></div>
                    <div class="nRow_">
                      <div class="choose-file uploadFileName"> </div>
                      <div class="uploadPercentage"></div>
                    </div>
                    <div class="icon_box"> <img src="{{assets}}/images/attach.svg">
                    </div>
                    <div class="uploadProgressWrapper">
                      <div class="uploadProgress"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="input-field input_parent  full_">
                <div class="input-row  att_row">
                  <input type="file" class="form-control uploader" data-type="s_copy" data-mimes="pdf,jpg,jpeg"
                    id="s_copy" name="s_copy[]" required="">
                  <div class="choose">
                    <div class="choose-btn"><small>حمل الصورة</small></div>
                    <div class="nRow_">
                      <div class="choose-file uploadFileName"> </div>
                      <div class="uploadPercentage"></div>
                    </div>
                    <div class="icon_box"> <img src="{{assets}}/images/attach.svg">
                    </div>
                    <div class="uploadProgressWrapper">
                      <div class="uploadProgress"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-field full_">

                <div class="termsCheckWrap">
                  <label>
                    <input type="checkbox" />
                    <span></span>
                  </label>
                  <p>أنا أوافق على <a href="#">الأحكام والشروط</a></p>
                </div>

              </div>
              {{!-- <div class="input-field full_">
                <input id="Passwordp" type="password" class="">
                <label for="Passwordp"> كلمة المرور</label>
              </div>
              <div class="input-field full_">
                <input id="Passwordp1" type="password" class="">
                <label for="Passwordp1"> تأكيد كلمة المرور</label>
              </div> --}}
              <div class="input-field full_">
                <button type="submit" class="more color lg_">
                  <span>يسجل</span>
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>

</main>
{{> script-page}}
{{> footer}}
<script>
  $(function () {
    $('[data-tabcontent]').hide();
    $('.datepicker').datepicker({
      container: "body"
    });
    $('[data-target]').on('click', function (e) {
      e.preventDefault();
      var this_ = $(this),
        target_ = this_.data('target');

      if ($('#' + target_).length) {
        $('[data-tabcontent]').hide();
        $('#' + target_).show();

        $('[data-target]').removeClass('active')
        this_.addClass('active')
      }
    })

    $('[data-target].active').trigger('click')
  })
</script>